<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookStore - Book Details</title>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-1Z2SFHTGWN"></script>

    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-1Z2SFHTGWN');
    </script>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav>
    <a href="/">Home</a>
    <a href="/books">Books</a>
    <a href="/details">Book Details</a>
    <a href="/order">Order Form</a>
    <a href="/contact">Contact Us</a>
</nav>

<div class="container">
    <h1>Book Details</h1>

    <div class="book-card">
        <img src="{{ url_for('static', filename='images/book1.jpg') }}" alt="Atomic Habits" class="book-image">

        <h2>Atomic Habits</h2>

        <p><strong>Author:</strong> James Clear</p>

        <p><strong>Price:</strong> $15</p>

        <p><strong>Description:</strong>
            This book teaches how small habits can lead to big changes in life.
        </p>

        <a href="/order">
            <button>Order Now</button>
        </a>
    </div>
</div>

<footer>
    <p>BookStore Website Project</p>
</footer>

</body>
</html>